<ion-view>
  <ion-tabs class="tabs-icon-top tabs-balanced">
    <ion-tab title="Create Item" icon="ion-earth" href="#/main/public">
      <ion-nav-view name="public-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Shoplist" icon="ion-nuclear" href="#/main/admin">
      <ion-nav-view name="admin-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="ShopItem" icon="ion-home" href="#/main/dash">
      <ion-nav-view name="shopitem-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
