      </div> 
       <!-- /.container -->
       <!-- Footer -->
        <footer class="footer">	
        	<div class="container">
                <div class="footerlink">
                	<div class="about col-lg-4">
                    	<a href="/aboutus">About</a>
                    </div>
<!--                     <div class="social col-lg-4">
                		<a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
	            		<a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
	            		<a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
	            		<a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
	            	</div> -->
                </div>
      		</div>	
        </footer>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/medias/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="/medias/dist/js/jquery.form-validator.min.js"></script>
    <script src="/medias/bootstrap/js/bootstrap-filestyle.min.js"></script>
    
    <script>
	  $.validate({
	    modules : 'security',
	    validateOnBlur : true,
	  });
	</script>

</body>

</html>