       <!-- Footer -->
        <footer>		
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/medias/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="/medias/dist/js/jquery.form-validator.min.js"></script>
    <script src="/medias/bootstrap/js/bootstrap-filestyle.min.js"></script>
    
    <script>
	  $.validate({
	    modules : 'security',
	    validateOnBlur : true,
	  });
	</script>

</body>

</html>