      </div> 
       <!-- /.container -->
       <!-- Footer -->
        <footer class="footer">	
        	<div class="container">
                <div class="footerlink">
                	<div class="about col-lg-4">
                    	<a href="/aboutus">About</a>
                    </div>
                </div>
      		</div>	
        </footer>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/medias/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="/medias/dist/js/jquery.form-validator.min.js"></script>
    <script src="/medias/bootstrap/js/bootstrap-filestyle.min.js"></script>
    
    <script>
	  $.validate({
	    modules : 'security',
	    validateOnBlur : true,
	  });
	</script>

</body>

</html>