{% include "common/header.html" %}
<div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="#" data-target-id="home"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li><a href="#" data-target-id="projects"><i class="fa fa-list-alt fa-fw"></i>My Projects</a></li>
                <li><a href="#" data-target-id="orders"><i class="fa fa-shopping-cart fa-fw"></i>My Orders</a></li>
            </ul>
        </div>
        <div class="col-md-10 well admin-content" id="home">
        	<div class="row">
        	<div class="col-md-4">
                <img class="img-responsive" src="/medias/upload/user/{{uf.id}}/{{uf.profile_image}}" 
                alt="" id="profile_image" style="width:250px; height:250px">
                <br>
                	<form role="form" id="userimage_form" action="{% url 'userimage_update' %}" enctype="multipart/form-data">
                		{% csrf_token %}
						<input type="file" class="filestyle pull-right" data-buttonText="Upload" id="userimage" name="userimage" 
							data-buttonName="btn-default" data-input="false" 
							onchange="uploadUserImage();" required>
					</form>
				
                
        	</div>
        	<div class="col-md-6">
            <form class="form-horizontal" role="form" action="{% url 'myprofile' %}" method="post">
		      {% csrf_token %}
		        <fieldset>
				   <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-3 control-label" for="textinput">Name</label>
		            <div class="col-sm-9">
		              <input type="text" name="user_name" placeholder="Name" 
		              		value="{{uf.name}}" 
		              		class="form-control" data-validation="length" 
		        			data-validation-length="min4" 
		        			data-validation-error-msg="You did not enter a valid name." required>
		            </div>
		          </div>

		          
		          <!-- Text input-->
		          <div class="form-group">
		            <label class="col-sm-3 control-label" for="textinput">Phone</label>
		            <div class="col-sm-9">
		              <input type="text" name="user_phone" placeholder="Phone" class="form-control" 
		              		value="{{uf.phone}}">
		            </div>
		          </div>
		
		          <div class="form-group">
		            <div class="col-sm-offset-3 col-sm-9">
		              <div class="pull-right">
		                <button type="submit" class="btn btn-primary">Save</button>
		              </div>
		            </div>
		          </div>
		
		        </fieldset>
		      </form>
		      </div>
		      </div>
        </div>
        <div class="col-md-10 well admin-content" id="projects">
            {% for project in projects %}
        	{% if forloop.counter0|divisibleby:5  %}
         	<div class="row">
        	{% endif %}
          	 <div class="col-md-2 portfolio-item">
                <a href="/project/update/{{project.id}}">
                    <img class="img-responsive" src="/medias/upload/{{project.id}}/projectimages/{{project.profile_image}}" alt="">
                </a>
                <h3>
                    <a href="/project/update/{{project.id}}">{{project.name}}</a>
                </h3>
            </div>
         	{% if forloop.counter|divisibleby:5 or forloop.counter == projects_size %}    
         	</div>
         	{% endif %}
         	{% endfor %}
        </div>
        <div class="col-md-10 well admin-content" id="orders">
              <div class="row">
		        <div class="col-sm-12 col-md-10 col-md-offset-1" >
		            <table class="table table-hover" id="shopcarttable">
		                <thead>
		                    <tr>
		                        <th>Product</th>
		                        <th>Quantity</th>
		                        <th></th>
		                        <th class="text-center">Price</th>
		                        <th> </th>
		                    </tr>
		                </thead>
		                <tbody>
		                {% for cartItem in orderedItems %}
		                    <tr>
		                        <td class="col-sm-8 col-md-5">
		                        <div class="media">
		                            <a class="thumbnail pull-left" href="#" id="shopcart_thumbnail" style="margin-right:10px"> <img class="media-object" 
		                            	src="/medias/upload/{{cartItem.project.id}}/projectimages/{{cartItem.project.profile_image}}" 
		                            	style="width: 72px; height: 72px;"> </a>
		                            <div class="media-body">
		                                <h4 class="media-heading"><a href="#">{{cartItem.project.name}}</a></h4>
		                                 <h5 class="media-heading">{{cartItem.priceUnit.material}}</h5>
		                                 <h5 class="media-heading">{{cartItem.sizex}}{{cartItem.priceUnit.unit}} x {{cartItem.sizey}}{{cartItem.priceUnit.unit}} x {{cartItem.sizez}}{{cartItem.priceUnit.unit}}</h5>
		                                <span>Status: </span><span class="text-success"><strong>Shipping in 5 days</strong></span>
		                            </div>
		                        </div></td>
		                        <td class="col-sm-1 col-md-1" style="text-align: center"><strong>{{cartItem.quantity}}</strong></td>
		                        <td></td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong>${{cartItem.getPrice}}</strong></td>
		                        <td class="col-sm-1 col-md-2 pull-right">
		                        	<a type="button" class="btn btn-success" href="/projectdetail/{{cartItem.project.id}}">Order</a>
                        		</td>
		                    </tr>
		                 {% endfor %}        
		                </tbody>
		            </table>
		        </div>
    		</div>
        </div>
    </div>

<script>    
 $(document).ready(function()
{
     var navItems = $('.admin-menu li > a');
     var navListItems = $('.admin-menu li');
     var allWells = $('.admin-content');
     var allWellsExceptFirst = $('.admin-content:not(:first)');
    
     allWellsExceptFirst.hide();
     navItems.click(function(e)
     {
         e.preventDefault();
         navListItems.removeClass('active');
         $(this).closest('li').addClass('active');
        
         allWells.hide();
         var target = $(this).attr('data-target-id');
         $('#' + target).show();
     });
});
 
	function uploadUserImage(){
		$("#userimage_form").submit(function(e)
		{
		 
		    var formObj = $(this);
		    var formURL = formObj.attr("action");
		    var formData = new FormData(this);
		    $.ajax({
		        url: formURL,
		    	type: 'POST',
		        data:  formData,
		    	mimeType:"multipart/form-data",
		    	contentType: false,
		        cache: false,
		        processData:false,
		    	success: function(data, textStatus, jqXHR)
		    	{
		 			console.log("data:"+data);
		 			var obj = jQuery.parseJSON(data);
					var profile_image = obj["profile_image"];
		 			$("#profile_image").attr("src",profile_image);
		 			$("#userimage").filestyle('clear');
		    	},
		     	error: function(jqXHR, textStatus, errorThrown) 
		     	{
		     	}          
		    });
		    e.preventDefault(); //Prevent Default action. 
		}); 
		$("#userimage_form").submit();

	}
 </script>

{% include "common/footer.html" %}