{% include "common/header.html" %}

<form class="upload_project_form" id="upload_project_form" role="form" action="{% url 'upload_project' %}" method="post"  enctype="multipart/form-data">
{% csrf_token %}
<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<h2 class="dark-grey">Upload 3D Project</h2>
				<br>
				
				<div class="form-group col-lg-8">
					<input type="file" class="filestyle" id="project_input" name="project" data-buttonName="btn-primary" 
						data-validation="custom_modelext size required" 
					    data-validation-max-size="25M"
						data-validation-error-msg="You need to upload a zip or obj file." required>
				</div>
				
				<div class="form-group col-lg-8">
					<div class="checkbox">
  						<label for="is3dmodel">
    						<input type="checkbox" name="is3dmodel" id="is3dmodel"  checked required>
   										I am uploading a 3d model.
  						</label>
					</div>
				</div>
				
				<div class="form-group col-lg-8">
					<button class="btn btn-sm btn-primary" type="submit">Submit</button>
				</div>		
			</div>
		
			<div class="col-md-6">
				<h3 class="dark-grey">Instruction</h3>
				<p>
					For best results, we suggest uploading in .STL or .OBJ format. But don't forget, we accept over 20 different file types.
				</p>
				<p>
					Need multicolor?
				</p>
				<p>
				When you upload your 3D file with some formats, for instance .obj, you have to put colours, textures and the 3D model in a .zip format.
When you upload the 3D model to the site, you need to select the .zip file on your computer.
				</p>
				
				
			</div>
		</div>
	</section>
</div>
</form>
	

{% include "common/footer.html" %}