{% include "common/header.html" %}

   <title>Project List </title>
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">All Models
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        {% for project in projects %}
        {% if forloop.counter0|divisibleby:4  %}
         <div class="row">
        {% endif %}
           <div class="col-md-3 portfolio-item">
                <a href="/projectdetail/{{project.id}}">
                    <img class="img-responsive" src="/medias/upload/{{project.id}}/projectimages/{{project.profile_image}}" alt="">
                </a>
                <h3>
                    <a href="/projectdetail/{{project.id}}">{{project.name}}</a>
                </h3>
            </div>
         {% if forloop.counter|divisibleby:4 or forloop.counter == projects_size %}    
         </div>
         {% endif %}
         {% endfor %}
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                	{% if pre_page %}
                    <li>
                        <a href="?page={{ pre_page }}">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for page in page_range %}
                    	{% if page == projects.number %}
                    		<li class="active">
                    	{% else %}
                    		<li>
                    	{% endif %}
                        	<a href="?page={{page}}">{{page}}</a>
                    	</li>
                    {% endfor %}
                    {% if next_page %}
                    	<li>
                        	<a href="?page={{ next_page }}">&raquo;</a>
                    	</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- /.row -->


{% include "common/footer.html" %}