{% include "common/header.html" %}
<link rel="stylesheet" href="/medias/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
       <!-- Portfolio Item Row -->
       <div class="row">

           <div class="col-md-7" role="tabpanel">
	
	 			 <!-- Nav tabs -->
			  <ul class="nav nav-tabs col-sm-6" role="tablist">
			    
			    <li role="presentation" id="imagelist_tab" class="active"><a href="#imagelist_tabpane" aria-controls="imagelist_tabpane" role="tab" data-toggle="tab">Images</a></li>
			    <li role="presentation" id="3dview_tab" ><a href="#3dview_tabpane" aria-controls="3dview_tabpane" role="tab" data-toggle="tab" >3D View</a></li>
			  </ul>
			  <div class="clearfix"></div>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			  	<div role="tabpanel" class="tab-pane active" id="imagelist_tabpane">
					<div id="slider" class="flexslider">
					  <ul class="slides">
					  {% for img in project_images%}
					    <li>
					      <img src="/medias/upload/{{project.id}}/projectimages/{{img.name}}" />
					    </li>
					  {% endfor %}
					  </ul>
					</div>
					<div id="carousel" class="flexslider">
					  <ul class="slides">
					   {% for img in project_images%}
					    <li>
					      <img src="/medias/upload/{{project.id}}/projectimages/{{img.name}}" />
					    </li>
					  {% endfor %}
					  </ul>
					</div>
			    
			    </div>
			  
			  
			    <div role="tabpanel" class="tab-pane" id="3dview_tabpane">
					<div class="embed-responsive embed-responsive-16by9"  >
	 					<iframe id="iframe_3dview" name="iframe_3dview" class="embed-responsive-item" 
	 					src="/project3dview/{{project.id}}?color={{default_color_url}}" frameborder="0" onmousewheel >
	 					</iframe>
	 				</div> 
	 				<div>
       					<div id="slider-1" class="col-sm-3" style="background: linear-gradient(to right, black, white); height:10px; margin:5px" ></div>
       				</div>
					<div class="clearfix"></div>
				</div>

			  </div>		
          </div>
           

           <div class="col-md-5">
                	<div class="col-md-6">
               			<h3>Print Settings</h3>
               		</div>
               		<div class="clearfix"></div>
               		<div id="settings">
						<form class="scalesetting form-inline" id="printsetting">
							<label class="col-sm-2">Scale:</label>
						  	<input type="text" class="input-small col-sm-2" name="modelsize_x"  id="modelsize_x" value="{{project.modelx}}">
						 	<p class="col-sm-1">x<p>
						  	<input type="text" class="input-small col-sm-2" name="modelsize_y" id="modelsize_y" value="{{project.modely}}">
						   	<p class="col-sm-1">x<p>
						  	<input type="text" class="input-small col-sm-2" name="modelsize_z" id="modelsize_z" value="{{project.modelz}}">
						  	<div class="col-sm-2 selectContainer">
						  	<select name="unit" class="modelsizeunit input-sm" id="modelsizeunit">
								<option value="mm">mm</option>
								<option value="cm">cm</option>
							</select>
						  </div>    
						</form>  
						<div class="clearfix"></div>         		
		          		<div class="printsetting" id="printsetting">
		        			<label class="col-sm-2">Material: </label>
		          			 <div class="col-sm-10" id="material_setting">
								<p>{{default_material}}</p>
					         </div>    
		          		</div>
		          		<div class="clearfix"></div>
		          		<div class="printsetting" id="printsetting">
		        			<label class="col-sm-2">Color: </label>
		          			<div id="color_setting" class="col-sm-10" >
		          				<p>{{default_color}}</p>
					        </div>    
		          		</div>
	    				<div class="clearfix"></div>
		          		<div class="printsetting" id="printsetting">
		        			<label class="col-sm-2">Finish: </label>
		          			<div id="finish_setting" class="col-sm-10" >
		          				<p></p>
					        </div>    
		          		</div>
	          		<div class="clearfix"></div>
	          		<hr>
	          		<div id="price" >
                	<div class="col-md-6">
               			<h3>Total Price</h3>
               		</div>
               		<div id="total_price" class="col-md-6 text-right">
               			<h3></h3>
               		</div>
               	</div>
             	<div id="checkout_button">
             			<form id="checkout" action="{% url 'shopcart' %}" method="post" >
             			{% csrf_token %}
             				<input type="hidden" name="price_hidden" id="price_hidden" value="">
             				<input type="hidden" name="sizex_hidden" id="sizex_hidden" value="">
             				<input type="hidden" name="sizey_hidden" id="sizey_hidden" value="">
             				<input type="hidden" name="sizez_hidden" id="sizez_hidden" value="">
             				<input type="hidden" name="priceunitid_hidden" id="priceunitid_hidden" value="">
             				<input type="hidden" name="projectid_hidden" value="{{project.id}}">            				
             				<input type="submit" class="btn btn-success btn-large btn-block pull-right" value="Review & Checkout">
             			</form>
             	</div>
               <div class="clearfix"></div>
              
      			</div>
            </div>
               
       </div>


       <!-- /.row -->
       <div class="clearfix"></div>
       <div class="material_block">
        <div class="row">    
           <div class="col-md-7">
               <h3>Material</h3>
           </div>   
         </div>
    	<div class="row">     
			<ul class="nav nav-tabs nav-stacked col-md-2" id="material_tabs">
		  		<li class="active"><a href="#tab_plastic" data-toggle="tab">Plastic</a></li>
		  		<li><a href="#tab_resin" data-toggle="tab">Resin</a></li>
		  		<li><a href="#tab_alumide" data-toggle="tab">Alumide</a></li>
		  		<li><a href="#tab_multicolor" data-toggle="tab">Multicolor</a></li>
		  		<li><a href="#tab_ceramic" data-toggle="tab">Ceramic</a></li>
			</ul>
			<div class="tab-content col-md-5">
		        <div class="tab-pane active" id="tab_plastic">
		            <p class="print_material_description">Plastic is a great starter material. Strong, with a fairly good level of detail and slightly flexible, 
		            it comes in a wide range of colors. If you're not sure which material to go with, plastic is a great all rounder.
		            </p>
		            <div class="clearfix"></div>
		            <div class="material-selection">
		            	<label class="title">Available Colors</label>
		            	<ul class="swatch-wrapper-list list-unstyled list-inline">		
		            		<li class="swatch-wrapper" data-value="white_plastic.png,White,">
		            			<img class="swatch-img" src="/medias/dist/image/material/white_plastic.png" alt="">
		            			<div class="swatch-label">White</div>
		            		</li>  
		            		<li class="swatch-wrapper" data-value="black_plastic.png,Black,">
		            			<img class="swatch-img" src="/medias/dist/image/material/black_plastic.png" alt="">
		            			<div class="swatch-label">Black</div>
		            		</li>            	    
		            		<li class="swatch-wrapper" data-value="yellow_plastic.png,Yellow,">
		            			<img class="swatch-img" src="/medias/dist/image/material/yellow_plastic.png" alt="">
		            			<div class="swatch-label">Yellow</div>
		            		</li>
 		            		<li class="swatch-wrapper" data-value="blue_plastic.png,Blue,">
		            			<img class="swatch-img" src="/medias/dist/image/material/blue_plastic.png" alt="">
		            			<div class="swatch-label">Blue</div>
		            		</li> 
		            		<li class="swatch-wrapper" data-value="red_plastic.png,Red,">
		            			<img class="swatch-img" src="/medias/dist/image/material/red_plastic.png" alt="">
		            			<div class="swatch-label">Red</div>
		            		</li> 
		            	</ul>
		            </div>
		            
		        </div>
		        <div class="tab-pane" id="tab_resin">
		            <p class="print_material_description">Resin is a rigid, glassy material with a smooth surface, perfect for high detailed visualization. 
		            	Moving parts work quite well. It comes in black, white and translucent or painted in a wide range of colors.
		            </p>
		            <div class="clearfix"></div>
		        </div>
		        
		        <div class="tab-pane" id="tab_alumide">
		            <p class="print_material_description">
		            	Matte grey, strong, slightly flexible material that can withstand some pressure when bent. 
		            	A mix of plastic and aluminium powder, the surface has a grainy, sandy appearance and is slightly porous. 
		            	Good for moving parts and mechanical items.
		            </p>
		            <div class="clearfix"></div>
		        </div>
		        
		        <div class="tab-pane" id="tab_multicolor">
		            <p class="print_material_description">A plaster-like material that is colored as it prints. Excellent for purely decorative items 
		            but its brittle nature means shocks or friction should be avoided. Contact with water should also be avoided.
		            </p>
		            <div class="clearfix"></div>
		            <div class="material-selection">
		            	<label class="title">Available Finishes</label>
		            	<ul class="swatch-wrapper-list list-unstyled list-inline">		            	    
		            		<li class="swatch-wrapper" data-value=",,Raw">
		            			<img class="swatch-img" src="/medias/dist/image/material/multicolor_raw.png" alt="">
		            			<div class="swatch-label">Raw</div>
		            		</li>
 		            		<li class="swatch-wrapper" data-value=",,Matte Varnish">
		            			<img class="swatch-img" src="/medias/dist/image/material/multicolor_raw.png" alt="">
		            			<div class="swatch-label">Matte Varnish</div>
		            		</li> 
		            	</ul>
		            </div>
		        </div>
		        
		        <div class="tab-pane" id="tab_ceramic">
		            <p class="print_material_description">
						Rigid material produced by oven glazing. 
						The surface looks shiny and very smooth but weakly detailed. 
						Water and heat resistant.
		            </p>
		            <div class="clearfix"></div>
		            <div class="material-selection">
		            	<label class="title">Available Colors</label>
		            	<ul class="swatch-wrapper-list list-unstyled list-inline">		
		            		<li class="swatch-wrapper" data-value="white_plastic.png,White,">
		            			<img class="swatch-img" src="/medias/dist/image/material/white_plastic.png" alt="">
		            			<div class="swatch-label">White</div>
		            		</li>  
		            		<li class="swatch-wrapper" data-value="black_plastic.png,Black,">
		            			<img class="swatch-img" src="/medias/dist/image/material/black_plastic.png" alt="">
		            			<div class="swatch-label">Black</div>
		            		</li>            	    
		            		<li class="swatch-wrapper" data-value="yellow_plastic.png,Yellow,">
		            			<img class="swatch-img" src="/medias/dist/image/material/yellow_plastic.png" alt="">
		            			<div class="swatch-label">Yellow</div>
		            		</li>
 		            		<li class="swatch-wrapper" data-value="blue_plastic.png,Blue,">
		            			<img class="swatch-img" src="/medias/dist/image/material/blue_plastic.png" alt="">
		            			<div class="swatch-label">Blue</div>
		            		</li> 
		            		<li class="swatch-wrapper" data-value="red_plastic.png,Red,">
		            			<img class="swatch-img" src="/medias/dist/image/material/red_plastic.png" alt="">
		            			<div class="swatch-label">Red</div>
		            		</li> 
		            	</ul>
		            </div>
		        </div>
		        
			</div><!-- tab content -->
		</div>
	</div>
      

<!--        Related Projects Row
       {% if owner_other_projects  %}
       <div class="row">
           <div class="col-lg-12">
               <h3 class="page-header">Projects By Same User</h3>
           </div>
           
		   {% for project in owner_other_projects %}
           <div class="col-sm-3 col-xs-6">
               <a href="/projectdetail/{{project.id}}">
                   <img class="img-responsive portfolio-item" src="/medias/upload/{{project.id}}/profile.jpg" alt="">
               </a>
                <h3>
                    <a href="/projectdetail/{{project.id}}">{{project.name}}</a>
                </h3>
           </div>
           {% endfor %}
       </div>
       {% endif %}
       /.row -->


 <script src="/medias/plugins/flexslider/jquery.flexslider.js"></script>

       
	<script>
		jQuery(document).ready(function() {
			
			// The slider being synced must be initialized first
			  $('#carousel').flexslider({
			    animation: "slide",
			    controlNav: false,
			    animationLoop: false,
			    slideshow: false,
			    itemWidth: 150,
			    itemMargin: 5,
			    asNavFor: '#slider'
			  });
			   
			  $('#slider').flexslider({
			    animation: "slide",
			    controlNav: false,
			    animationLoop: false,
			    slideshow: false,
			    sync: "#carousel"
			  });
			
	
	    $(document).on("click", ".swatch-wrapper", function(){
	        var data_value =  $(this).attr("data-value");
	        var res = data_value.split(",");
	        var color_url = "";
	        var color = "";
	        var finish = "";
	        if (res.length==3){
	        	color_url = res[0];
	        	color = res[1];
	        	finish = res[2];
	        }
	        var curr_url = $("#iframe_3dview").attr("src");
	        var background = getParameterByName("background", curr_url);
	        $("#iframe_3dview").attr('src',"/project3dview/{{project.id}}?color="+color_url+"&background="+background);
        	$("#color_setting").html("<p>"+color+"</p>");
        	$("#finish_setting").html("<p>"+finish+"</p>");
        	
        	$("#imagelist_tab").attr('class','');
        	$("#3dview_tab").attr('class','active');
        	$("#imagelist_tabpane").attr('class', 'tab-pane');
        	$("#3dview_tabpane").attr('class', 'tab-pane active');
        	
        	updatePrice();
	        return false;
	    });
	
	    $(".swatch-wrapper").css( "cursor", "pointer" );
	    
	    $( "#slider-1" ).slider({
	    	min:0,
	    	max:255,
            value: 200,
            slide: function( event, ui ) {
            	console.log("value:"+ui.value);
            	var curr_url = $("#iframe_3dview").attr("src");
            	var color = getParameterByName("color", curr_url);
            	console.log("curr_url:"+curr_url+color);
            	$("#iframe_3dview").attr('src',"/project3dview/{{project.id}}?background="+ ui.value +"&color="+color);
            	
            }
        });
	    
	    $('#3dview_tab a').click(function(e) {
	    	var curr_url = $("#iframe_3dview").attr("src");
	    	$("#iframe_3dview").attr('src',curr_url);
    	});
	    
	    $('#material_tabs li a').click(function(e) {
	    	  	$("#material_setting").html("<p>"+$(this).text()+"</p>");		
	    	  	$("#color_setting").html("<p></p>");
	        	$("#finish_setting").html("<p></p>");
	        	updatePrice();
	    });
	    
	    $( "#modelsizeunit" ).change(function() {
	    	  updatePrice();
	    });
	    
	     $("#modelsize_x").change(function(){
	    	 if ({{project.modelx}}<=0 && {{project.modely}}<=0 && {{project.modelz}}<=0){
	    		 return;
	    	 }
	    	var sizey = parseFloat($("#modelsize_x").val().trim()) * {{project.modely}}/{{project.modelx}};
	    	var sizez = parseFloat($("#modelsize_x").val().trim()) * {{project.modelz}}/{{project.modelx}};
	    	$("#modelsize_y").val(sizey);
	    	$("#modelsize_z").val(sizez);
	    	updatePrice();	    	
	    }	
	    ); 
	     
	     $("#modelsize_y").change(function(){
	    	 if ({{project.modelx}}<=0 && {{project.modely}}<=0 && {{project.modelz}}<=0){
	    		 return;
	    	 }
	    	var sizex = parseFloat($("#modelsize_y").val().trim()) * {{project.modelx}}/{{project.modely}};
	    	var sizez = parseFloat($("#modelsize_y").val().trim()) * {{project.modelz}}/{{project.modely}};
	    	$("#modelsize_x").val(sizex);
	    	$("#modelsize_z").val(sizez);
	    	updatePrice();	    	
	    }	
	    );
	     
	     $("#modelsize_z").change(function(){
	    	 if ({{project.modelx}}<=0 && {{project.modely}}<=0 && {{project.modelz}}<=0){
	    		 return;
	    	 }
	    	var sizex = parseFloat($("#modelsize_z").val().trim()) * {{project.modelx}}/{{project.modelz}};
	    	var sizey = parseFloat($("#modelsize_z").val().trim()) * {{project.modely}}/{{project.modelz}};
	    	$("#modelsize_x").val(sizex);
	    	$("#modelsize_y").val(sizey);
	    	updatePrice();	    	
	    }	
	    );
	     
	     $("#checkout").submit(function(){
	    	   // Let's find the input to check
	    	   var $price = $(this).find("input[name=price_hidden]");
	    	   var $sizex = $(this).find("input[name=sizex_hidden]");
	    	   var $sizey = $(this).find("input[name=sizey_hidden]");
	    	   var $sizez = $(this).find("input[name=sizez_hidden]");
	    	   
	    	   $price.val($("#total_price").text());
	    	   $sizex.val($("#modelsize_x").val());
	    	   $sizey.val($("#modelsize_y").val());
	    	   $sizez.val($("#modelsize_z").val());
	    	});
	    
	    updatePrice();
	
	});	
		
	function getParameterByName(name, url) {			 
		    var match = RegExp('[?&]' + name + '=([^&]*)').exec(url);		 
		    return match ?decodeURIComponent(match[1].replace(/\+/g, ' ')): null;
	}
	
	 function setDimensions(x, y, z){
		 minimum = Math.min(x, y, z);
		 console.log("model size:"+x+","+y+","+z+","+minimum);
		 x = (x/minimum).toFixed(2);
		 y = (y/minimum).toFixed(2);
		 z = (z/minimum).toFixed(2);
		 
		 if (parseFloat($("#modelsize_x").val().trim())<=0 
				 || parseFloat($("#modelsize_y").val().trim())<=0 
				 || parseFloat($("#modelsize_z").val().trim())<=0 ){
			 document.getElementById('modelsize_x').value = x;
			 document.getElementById('modelsize_y').value = y;
			 document.getElementById('modelsize_z').value = z;	
			 updatePrice();
		 }

	}
	 
	function updatePrice(){
		var color = $("#color_setting").text().trim();
		var material = $("#material_setting").text().trim();
		var finish = $("#finish_setting").text().trim();
		var size_x = $("#modelsize_x").val().trim();
		var size_y = $("#modelsize_y").val().trim();
		var size_z = $("#modelsize_z").val().trim();
		var sizeunit = $("#modelsizeunit").val().trim();
		console.log("update price: "+color+","+material+","+size_x+","+size_y+","+size_z);
		$.ajax({
			url:"/getprice?color="+color+"&material="+material+"&finish="+finish+"&x="+size_x+"&y="+size_y+"&z="+size_z+"&sizeunit="+sizeunit+"&projectid="+{{project.id}},
			success:function(result){
				var obj = jQuery.parseJSON(result);
				var price_unit = obj["price_unit"];
				var total_price = obj["total_price"]
				
				if (parseFloat(total_price)>0){
					$("#total_price").html("<h3>$"+total_price+"</h3>");
				}else{
					$("#total_price").html("<h3></h3>");
				}
				$("#priceunitid_hidden").val(price_unit);
		    }
		});

	}
	
   </script>



{% include "common/footer.html" %}