<!DOCTYPE html>
<html lang="en">
{% load jsonify %}
<head>
		<title>3d model loader</title>
		<meta charset="utf-8">
 		<style type="text/css">
            body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}

        </style> 
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src="/medias/dist/js/three.min.js"></script>
		<script src="/medias/dist/js/TrackballControls.js"></script>
		<script src="/medias/dist/js/OBJMTLLoader.js"></script>
		<script src="/medias/dist/js/MTLLoader.js"></script>
		<script src="/medias/dist/js/Detector.js"></script>
		<script src="/medias/dist/js/stats.min.js"></script>
		<script src="/medias/dist/js/OBJLoader.js"></script>
		<script src="/medias/dist/js/STLLoader.js"></script>
		
	</head>

	<body>		
	<div id="container">
	</div>
	<div id="progress" style="margin-left:10px">
	<p> Loading...</p>
	</div>
	<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var container, stats;

			var camera, controls, scene, renderer;
			
			var load_complete = 0;

			var cross;
			var render_width = window.innerWidth;
			var render_height = window.innerHeight;
			
     		var disx_max = 0; // model width
    		var disy_max = 0; // model length
    		var disz_max = 0; // model height

			init();
			animate();
			
			

			function init() {
				load_complete = 0;
				camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 0.01, 1e10 );
				camera.position.x = 100;
				camera.position.y = 100;
				camera.position.z = 100;
				camera.lookAt(new THREE.Vector3(0, 0, 0));	

				controls = new THREE.TrackballControls( camera );
				controls.rotateSpeed = 5.0;
				controls.zoomSpeed = 5;
				controls.panSpeed = 2;
				controls.noZoom = false;
				controls.noPan = false;
				controls.staticMoving = true;
				controls.dynamicDampingFactor = 0.3;
				scene = new THREE.Scene();
				scene.add( camera );			
				var light = new THREE.PointLight(0xffffff, 1);
    			light.position = camera.position;
				camera.add( light );

				// texture
				var manager = new THREE.LoadingManager();
				manager.onProgress = function ( item, loaded, total ) {
					console.log( item, loaded, total );

				};

				
				var onProgress = function ( xhr ) {
					if ( xhr.lengthComputable ) {
						var percentComplete = xhr.loaded / xhr.total * 100;
						console.log( Math.round(percentComplete, 2) + '% downloaded' );
						load_complete = Math.round(percentComplete, 2);
						console.log(load_complete);
					}
				};

				var onError = function ( xhr ) {
				};
				
				

				// model
				// prepare loader and load the model
				{% if loader_config == "OBJMTLLoader"  %}
					loadWithOBJMTLLoader(manager, onProgress, onError); 	
				{% elif loader_config == "OBJLoader" %}				
					loadWithOBJLoader(manager, onProgress, onError);				
			    {% else %}
			    	loadWithSTLLoader();
				{% endif %}	

			    
			
				// renderer
				renderer = new THREE.WebGLRenderer( { antialias: true, preserveDrawingBuffer: true } );
				renderer.setSize( render_width, render_height);
				renderer.setClearColorHex( {{background_color}}, 1 );
				
				container = document.getElementById("container");
				document.body.appendChild( container );
				container.appendChild( renderer.domElement );
				window.addEventListener( 'resize', onWindowResize, false );
				

			}
			
			
			
			function loadWithOBJMTLLoader(manager, onProgress, onError){
				var loader = new THREE.OBJMTLLoader();
				loader.load('/medias/upload/{{project.id}}/original_models/{{project.threedmodel}}', 
						'/medias/upload/{{project.id}}/original_models/{{project.texture}}', 
						function(object) {  
					var scale = 1;
					object.traverse( function ( child ) {

						if ( child instanceof THREE.Mesh ) {								
 							child.geometry.computeBoundingBox ();
 				            var bBox = child.geometry.boundingBox;
 				            var disx = -(bBox.min.x + bBox.max.x)/2;
 				            var disy = -(bBox.min.y + bBox.max.y)/2;
 				            var disz = -(bBox.min.z + bBox.max.z)/2;

 				            child.geometry.applyMatrix( new THREE.Matrix4().makeTranslation( disx, disy, disz) )
 							child.geometry.verticesNeedUpdate = true;
							scale = Math.max (100/(bBox.max.x-bBox.min.x), 100/(bBox.max.y-bBox.min.y));
							scale = Math.max (100/(bBox.max.z-bBox.min.z), scale);
							
							if (disx_max<bBox.max.x-bBox.min.x){
								disx_max = bBox.max.x-bBox.min.x;
							}
							
							if (disy_max < bBox.max.y-bBox.min.y){
								disy_max = bBox.max.y-bBox.min.y;
							}
							
							if (disz_max <  bBox.max.z - bBox.min.z){
								disz_max = bBox.max.z - bBox.min.z;
							} 
				            
						}

					} );

				  object.scale.set(scale, scale, scale);
				  scene.add(object);
				  //load_complete = 100;
				  console.log("disx_max, disy_max, disz_max="+disx_max+","+disy_max+","+disz_max);
				  parent.setDimensions(disx_max, disy_max, disz_max);
				  
				}, onProgress, onError); 
			}
			
			
			function loadWithOBJLoader(manager, onProgress, onError){
				var texture = new THREE.Texture();
	    		var loader = new THREE.ImageLoader( manager );
	    		loader.load( "/medias/dist/image/material/{{texture_url}}", function ( image ) {
	        		console.log('load image');
	        		texture.image = image;
	        		texture.needsUpdate = true;
	    		} );
				
				 var loader = new THREE.OBJLoader( manager );
                 loader.load( '/medias/upload/{{project.id}}/original_models/{{project.threedmodel}}', 
                		 function ( object ) {
                		var scale = 1;
                 		var disx_max = 0;
                		var disy_max = 0;
                		var disz_max = 0; 
                        object.traverse( function ( child ) {

                         if ( child instanceof THREE.Mesh ) {
                            child.material.map = texture;
                            child.geometry.computeBoundingBox ();
   				            var bBox = child.geometry.boundingBox;
   				            var disx = -(bBox.min.x + bBox.max.x)/2;
   				            var disy = -(bBox.min.y + bBox.max.y)/2;
   				            var disz = -(bBox.min.z + bBox.max.z)/2;
   				            child.geometry.applyMatrix( new THREE.Matrix4().makeTranslation( disx, disy, disz) )
   							child.geometry.verticesNeedUpdate = true;
  							scale = Math.max (100/(bBox.max.x-bBox.min.x), 100/(bBox.max.y-bBox.min.y));
  							scale = Math.max (100/(bBox.max.z-bBox.min.z), scale);
  							
   							if (disx_max<bBox.max.x-bBox.min.x){
  								disx_max = bBox.max.x-bBox.min.x;
  							}
  							
  							if (disy_max < bBox.max.y-bBox.min.y){
  								disy_max = bBox.max.y-bBox.min.y;
  							}
  							
  							if (disz_max <  bBox.max.z - bBox.min.z){
  								disz_max = bBox.max.z - bBox.min.z;
  							} 
                         }
                               

                        } );

                        object.scale.set(scale, scale, scale);
                        scene.add( object );
                        //load_complete = 100;
						console.log("disx_max, disy_max, disz_max="+disx_max+","+disy_max+","+disz_max);
						parent.setDimensions(disx_max, disy_max, disz_max);

                }, onProgress, onError );
			}
			
			
			function loadWithSTLLoader(){
				var material = new THREE.MeshPhongMaterial( { ambient: 0x555555, color:{{color_hex}}, specular: 0x111111, shininess: 200 } );
				var loader = new THREE.STLLoader();
				loader.addEventListener( 'load', function ( object ) {					
 					var geometry = object.content;
 					if (geometry.hasColors) {
 						console.log("This stl has color...");
						material = new THREE.MeshPhongMaterial({ opacity: geometry.alpha, vertexColors: THREE.VertexColors });
					}
					var mesh = new THREE.Mesh( geometry, material );
					mesh.position.set( 0, 0, 0 );
					console.log("geometry:"+mesh.geometry.boundingBox);
					if (mesh.geometry.boundingBox === null) {
			    		mesh.geometry.computeBoundingBox();
			    	}
					var bBox = mesh.geometry.boundingBox.clone();
					
					var disx = -(bBox.min.x + bBox.max.x)/2;
		            var disy = -(bBox.min.y + bBox.max.y)/2;
		            var disz = -(bBox.min.z + bBox.max.z)/2;
		            mesh.geometry.applyMatrix( new THREE.Matrix4().makeTranslation( disx, disy, disz) )
					mesh.geometry.verticesNeedUpdate = true;
					scale = Math.max (25/(bBox.max.x-bBox.min.x), 25/(bBox.max.y-bBox.min.y));
					scale = Math.max (25/(bBox.max.z-bBox.min.z), scale);
					
					if (disx_max<bBox.max.x-bBox.min.x){
						disx_max = bBox.max.x-bBox.min.x;
					}
					
					if (disy_max < bBox.max.y-bBox.min.y){
						disy_max = bBox.max.y-bBox.min.y;
					}
					
					if (disz_max <  bBox.max.z - bBox.min.z){
						disz_max = bBox.max.z - bBox.min.z;
					} 

					mesh.scale.set(scale, scale, scale);
					scene.add( mesh ); 
					load_complete = 100;
					console.log("disx_max, disy_max, disz_max="+disx_max+","+disy_max+","+disz_max);
					parent.setDimensions(disx_max, disy_max, disz_max);
				} );
				loader.load( '/medias/upload/{{project.id}}/original_models/{{project.threedmodel}}' );
			}
			

			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( render_width, render_height);
				controls.handleResize();

			}

			function animate() {
				requestAnimationFrame( animate );
				controls.update();
				camera.lookAt( scene.position );
				renderer.render( scene, camera );
				
				if (load_complete>=100){
					document.getElementById('progress').style.display = 'none';
				}else{
					document.getElementById('progress').style.display = 'block';
					document.getElementById('progress').innerHTML = "<p>Loading "+load_complete+"% ...</p>"
					console.log("load complete: "+load_complete);
				}
				
			}

		</script>
	</body>
</html>

