{% include "common/header.html" %}
<link rel="stylesheet" href="/medias/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
   <title>Project Update </title>
   

<div class="container-fluid">
					
			
		<div class="col-md-6">
				<h2 class="dark-grey">Update Your Project</h2>
				
				<br>
				<form class="project_update_form" id="project_update_form" role="form" action="/project/update/{{project.id}}" method="post"  
				enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group col-lg-8">
						<label for="project_name" >Project Name</label>
						<input type="text" name="project_name" class="form-control" id="project_name" value="{{project.name}}" data-validation="length" 
        					data-validation-length="min4" data-validation-error-msg="You need to enter a valid project name" required>
        				
				</div>
				
				
<!-- 				<div class="form-group col-lg-8">
						<label for="category" >Category</label>
						<input type="text" name="category" class="form-control" id="category" value="" data-validation="length" 
        					data-validation-length="min4" data-validation-error-msg="You need to enter a valid category" required>
        				
				</div>
				
				<div class="form-group col-lg-8">
						<label for="tag" >Tag</label>
						<input type="text" name="tag" class="form-control" id="tag" value="" data-validation="length" 
        					data-validation-length="min4" data-validation-error-msg="You need to enter valid tags" required>
        				
				</div> -->
				
				<div class="form-group col-lg-8">
					<label for="filename" >Update Pictures</label>
					<input type="file" class="filestyle" name="project_images" data-buttonName="btn-primary"
							 data-validation="mime size" 
							 data-validation-allowing="jpg, jpeg, png, bmp" 
		 					 data-validation-max-size="3M"
							 data-validation-error-msg="You need to upload a picture." multiple>
				</div>				

				<div class="form-group col-lg-8">
					<input class="btn btn-sm btn-normal" type="submit" name="action" value="Update">
					<input class="btn btn-sm btn-success" type="submit" name="action" value="Publish">
				</div>	
				</form> 	
			</div>
			
		
			<div class="col-md-6">
				<div class="col-md-6">
					<h4 class="dark-grey">Here is your model<h4>
				</div>
				<div class="col-md-6">
					<a class="btn btn-danger pull-right" href="{% url 'project_delete' project.id %}" role="button">Delete</a>
				</div>
				<div class="clearfix"></div>
				<br>
				
		   <!--  tab for image and 3d view-->
           <div role="tabpanel">	
	 		 <!-- Nav tabs -->
			  <ul class="nav nav-tabs col-sm-6" role="tablist">
			    
			    <li role="presentation" id="imagelist_tab" class="active"><a href="#imagelist_tabpane" aria-controls="imagelist_tabpane" role="tab" data-toggle="tab">Images</a></li>
			    <li role="presentation" id="3dview_tab" ><a href="#3dview_tabpane" aria-controls="3dview_tabpane" role="tab" data-toggle="tab" >3D View</a></li>
			  </ul>
			  <div class="clearfix"></div>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			  	<div role="tabpanel" class="tab-pane active" id="imagelist_tabpane">
					<div id="slider" class="flexslider">
					  <ul class="slides">
					  {% for img in project_images%}
					    <li>
					      <img src="/medias/upload/{{project.id}}/projectimages/{{img.name}}" style="max-height:400px"/>
					    </li>
					  {% endfor %}
					  </ul>
					</div>
					<div id="carousel" class="flexslider">
					  <ul class="slides">
					   {% for img in project_images%}
					    <li>
					      <img src="/medias/upload/{{project.id}}/projectimages/{{img.name}}" style="max-height:150px"/>
					    </li>
					  {% endfor %}
					  </ul>
					</div>
			    
			    </div>
			  
			  
			    <div role="tabpanel" class="tab-pane" id="3dview_tabpane">
					<div class="embed-responsive embed-responsive-4by3"  >
	 					<iframe id="iframe_3dview" name="iframe_3dview" class="embed-responsive-item" 
	 					src="/project3dview/{{project.id}}?color={{default_color_url}}" frameborder="0" onmousewheel >
	 					</iframe>
	 				</div> 
					<div class="clearfix"></div>
				</div>

			  </div>		
          	</div>
          	<!--  end of tab for image and 3d view-->
			</div>
</div>
  
 
 
<script src="/medias/plugins/flexslider/jquery.flexslider.js"></script>

       
	<script>
		jQuery(document).ready(function() {
			
			// The slider being synced must be initialized first
			  $('#carousel').flexslider({
			    animation: "slide",
			    controlNav: false,
			    animationLoop: false,
			    slideshow: false,
			    itemWidth: 150,
			    itemMargin: 5,
			    asNavFor: '#slider'
			  });
			   
			  $('#slider').flexslider({
			    animation: "slide",
			    controlNav: false,
			    animationLoop: false,
			    slideshow: false,
			    sync: "#carousel"
			  });
			
	    $('#3dview_tab a').click(function(e) {
	    	var curr_url = $("#iframe_3dview").attr("src");
	    	$("#iframe_3dview").attr('src',curr_url);
    	});
	    
	    
	
	});	
		
	
   </script>

   
{% include "common/footer.html" %}